*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
html a {
  text-decoration: none;
  color: #9fa1aa;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}
html a:hover {
  color: #303036;
}
html .isActive {
  color: #303036;
}
html p {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}
html h1 {
  font-size: clamp(2rem, 2.5vw, 2.6rem);
}
html h2,
html figcaption {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}
html .subtext {
  font-size: 1.2rem;
  font-weight: 600;
}
html li {
  list-style-type: none;
}
html div {
  display: inline-block;
  width: 100%;
}
html .buttonPrimary,
html .buttonAccent {
  display: block;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  border: none;
  border-radius: 0.5rem;
}
html .buttonPrimary:hover,
html .buttonAccent:hover {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
html .buttonPrimary {
  max-width: 22rem;
  background-color: #595c69;
  color: white;
}
html .buttonPrimary:hover {
  background-color: #ffbf9d;
  color: #303036;
}
html .buttonAccent {
  background-color: #ffbf9d;
  max-width: 27.5rem;
  color: #303036;
}
html .buttonAccent:hover {
  background-color: #595c69;
  color: white;
}
html section,
html header,
html footer {
  width: 100%;
}
html section .container,
html header .container,
html footer .container {
  display: block;
  width: clamp(16rem, 90%, 128rem);
  margin: 0 auto;
}
html section {
  margin: 12rem auto;
}
html body header {
  margin-top: 1rem;
  box-shadow: #0003 0px 0.8rem 2.4rem;
}
html body header .headerElementsContainer {
  display: flex;
  max-width: 144rem;
  min-height: 8rem;
  align-items: center;
  justify-content: space-between;
  width: clamp(16rem, 90%, 128rem);
  margin: 0 auto;
}
html body header .headerElementsContainer .hamburgerMenu {
  display: none;
}
html body header .headerElementsContainer h1 a {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-size: 3.2rem;
  padding-top: 1rem;
  color: #303036;
}
html body header .headerElementsContainer h1 a:hover {
  color: #9fa1aa;
}
html body header .headerElementsContainer nav ul {
  width: 100%;
}
html body header .headerElementsContainer nav ul li {
  display: inline-block;
  margin: 0 1.4rem;
  font-weight: 600;
}
html body main .textContainer .container div {
  max-width: 56rem;
}
html body main .textContainer .container div h1 {
  margin-bottom: 3.1rem;
  line-height: 3.2rem;
}
html body main .textContainer .container div p {
  line-height: 3rem;
  font-weight: bold;
}
html body main .textContainer .container div .buttonPrimary {
  margin-top: 4rem;
}
html body main li {
  position: relative;
  max-width: 35rem;
  margin-right: 3.4rem;
}
html body main li:hover {
  opacity: 0.8;
}
html body main li a {
  color: #303036;
  font-weight: 600;
}
html body main li a figure img {
  width: 100%;
}
html body main li a figure span {
  color: #9fa1aa;
  display: block;
  margin: 3.2rem 0 1.2rem;
}
html body main li a p {
  margin-top: 1.6rem;
  line-height: 2.4rem;
}
html body main .buttonContainer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
html body main .buttonContainer .gliderPrev,
html body main .buttonContainer .gliderNext {
  display: inline-block;
  margin: 2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;
}
html body main .buttonContainer .gliderPrev:hover,
html body main .buttonContainer .gliderNext:hover {
  opacity: 1;
}
html body main .buttonContainer .gliderPrev {
  background-image: url(../images/arrow.png);
  transform: rotate(180deg);
}
html body main .buttonContainer .gliderNext {
  background-image: url(../images/arrow.png);
}
html body main .recipesContainer {
  background-color: #fff8f2;
  margin-top: 21rem;
}
html body main .recipesContainer .container {
  width: auto;
  margin-left: clamp(5%, calc((100vw - 128rem) / 2), 31.15rem);
  position: relative;
  top: -6rem;
}
html body main .popularRecipes .container .headingContainerForPopularRecipes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html body main .popularRecipes .container .headingContainerForPopularRecipes h1 {
  display: inline-block;
}
html body main .popularRecipes .container .headingContainerForPopularRecipes .seeAll {
  color: #303036;
  font-weight: 600;
  opacity: 0.7;
}
html body main .popularRecipes .container .headingContainerForPopularRecipes .seeAll:hover {
  opacity: 1;
}
html body main .popularRecipes .container .headingContainerForPopularRecipes .seeAll::after {
  display: inline-block;
  content: "";
  background-image: url(../images/arrowSmall.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  margin-left: 10px;
}
html body main .popularRecipes .container .popularRecipesContainer {
  margin-top: 6rem;
}
html body main .popularRecipes .container .popularRecipesContainer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem 3%;
}
html body main .popularRecipes .container .popularRecipesContainer ul li {
  margin-right: 0;
  max-width: 30%;
}
html body main .subscribeToBlog {
  background-color: #fff8f2;
  padding: 9rem 0;
}
html body main .subscribeToBlog .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body main .subscribeToBlog .container div {
  padding-right: 5rem;
}
html body main .author .container {
  display: flex;
  align-items: center;
}
html body main .author .container picture {
  margin-right: clamp(3rem, 10vw, 9.6rem);
  max-width: auto;
}
html body main .author .container picture img {
  border-radius: 1rem;
}
html body main .author .container div {
  margin: 2rem 0;
  width: 100%;
  max-width: 80rem;
}
html body main .author .container div h1 {
  margin-bottom: 1rem;
}
html body main .author .container div .subtext {
  color: #9fa1aa;
}
html body main .author .container div p {
  margin-top: 3rem;
}
html body main .intro .container {
  display: flex;
  gap: 5rem;
  align-items: center;
}
html body main .intro .container picture {
  width: 100%;
}
html body main .intro .container picture img {
  width: 100%;
}
html body main .intro .container div span {
  display: block;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  color: #595c69;
  font-weight: 600;
}
html body main .intro .container div .infoAboutMeal {
  margin-top: 10rem;
}
html body main .intro .container div .icons {
  align-items: center;
  margin: 3rem 0;
}
html body main .intro .container div .icons::before {
  vertical-align: middle;
  display: inline-block;
  content: "";
  margin-right: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
}
html body main .intro .container div .portion::before {
  background-image: url(../images/spoon.png);
}
html body main .intro .container div .preparation::before {
  background-image: url(../images/apron.png);
}
html body main .intro .container div .cooking::before {
  background-image: url(../images/cooking.png);
}
html body main .recipeItself {
  background-color: #fff8f2;
}
html body main .recipeItself .container {
  padding: 7.6rem 0;
  font-weight: 600;
  color: #595c69;
  display: flex;
  gap: 5rem;
  align-items: center;
}
html body main .recipeItself .container picture {
  width: 100%;
}
html body main .recipeItself .container picture img {
  width: 100%;
}
html body main .recipeItself .container div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
html body main .recipeItself .container div div {
  display: inline-block;
}
html body main .recipeItself .container div div ul li {
  max-width: 100%;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  color: #9fa1aa;
  margin: 2.5rem 0;
  color: #595c69;
}
html body main .prepareFood .container .instructions {
  font-weight: 600;
  color: #595c69;
}
html body main .prepareFood .container .instructions h2 {
  margin-bottom: 2.5rem;
}
html body main .prepareFood .container .instructions ol li {
  max-width: 100%;
  margin: 0 0 4rem;
  line-height: 3rem;
  list-style: decimal;
  margin-left: 2rem;
}
html body main .prepareFood .container .instructions ol li::marker {
  font-size: 1.8rem;
}
html body main .prepareFood .container .instructions ol li p {
  margin-left: 1.4rem;
}
html body main .suggestions {
  background-color: transparent;
}
html body main .suggestions .container {
  width: auto;
  margin-left: clamp(5%, calc((100vw - 128rem) / 2), 31.15rem);
}
html body main .suggestions .container h1 {
  margin-bottom: 6rem;
}
html body main .container .pagination {
  margin-top: 14rem;
}
html body main .container .pagination ul {
  display: flex;
  justify-content: center;
  gap: clamp(1rem,10%, 4rem);
}
html body main .container .pagination ul li {
  margin: 0;
}
html body main .container .pagination ul li a:hover {
  color: #ffbf9d;
}
html body main .container .pagination ul .nextPage::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/arrowSmall.png);
  background-position: center;
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-left: 0.5rem;
}
html body footer {
  font-size: 1.2rem;
  color: #9fa1aa;
  font-weight: 600;
  padding: 4.2rem 0;
}
html body footer .container {
  display: flex;
  justify-content: space-between;
}
html body footer .container .socials {
  width: max-content;
}
html body footer .container .socials a {
  font-size: 1.2rem;
}
html body footer .container .socials span {
  margin: 0 0.5rem;
}

@media screen and (max-width: 800px) {
  html body header .headerElementsContainer {
    position: relative;
  }
  html body header .headerElementsContainer .hamburgerMenu {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3.2rem;
    height: 2.5rem;
  }
  html body header .headerElementsContainer .hamburgerMenu span {
    position: absolute;
    width: 3.2rem;
    height: 0.5rem;
    background-color: #303036;
    border-radius: 0.5rem;
    transition: background-color 0.1s ease-in-out, transform 0.2s ease-in-out;
  }
  html body header .headerElementsContainer .hamburgerMenu span::after, html body header .headerElementsContainer .hamburgerMenu span::before {
    content: "";
    position: absolute;
    width: 3.2rem;
    height: 0.5rem;
    background-color: #303036;
    border-radius: 0.5rem;
    transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
  }
  html body header .headerElementsContainer .hamburgerMenu span::before {
    transform: translateY(-0.9rem);
  }
  html body header .headerElementsContainer .hamburgerMenu span::after {
    transform: translateY(0.9rem);
  }
  html body header .headerElementsContainer .hamburgerMenu input {
    z-index: 1;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  html body header .headerElementsContainer .hamburgerMenu input:checked ~ span {
    background-color: transparent;
  }
  html body header .headerElementsContainer .hamburgerMenu input:checked ~ span::before {
    transform: rotate(45deg);
  }
  html body header .headerElementsContainer .hamburgerMenu input:checked ~ span::after {
    transform: rotate(-45deg);
  }
  html body header .headerElementsContainer nav {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 30rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: #0003 0px 0.8rem 2.4rem;
  }
  html body header .headerElementsContainer nav ul {
    padding: 1rem;
    position: relative;
    text-align: center;
  }
  html body header .headerElementsContainer nav ul li {
    display: block;
  }
  html body header .headerElementsContainer nav ul li a {
    display: block;
    padding: 1rem 0;
    color: #595c69;
    font-size: 1.8rem;
  }
  html body header .headerElementsContainer .isOpen {
    display: block;
  }
  html body main .textContainer {
    text-align: center;
  }
  html body main .textContainer p {
    padding: 0 1rem;
  }
  html body main .textContainer a {
    margin: 0 auto;
  }
  html body main .recipesContainer {
    padding-left: 2rem;
  }
  html body main .recipesContainer .container {
    margin: 0 auto;
  }
  html body main .recipesContainer .container div ul li {
    margin-right: 2rem;
  }
  html body main .popularRecipes .container .popularRecipesContainer {
    margin-top: 6rem;
  }
  html body main .popularRecipes .container .popularRecipesContainer ul {
    gap: 4rem auto;
  }
  html body main .popularRecipes .container .popularRecipesContainer ul li {
    max-width: 45%;
  }
  html body main .subscribeToBlog .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  html body main .subscribeToBlog .container div {
    padding-right: 0;
  }
  html body main .subscribeToBlog .container .buttonAccent {
    margin-top: 4rem;
  }
  html body main .author .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  html body main .author .container picture {
    max-width: 35rem;
    margin-right: 0;
  }
  html body main .author .container picture img {
    border-radius: 1rem;
    width: 100%;
  }
  html body main .author .container div {
    margin: 2rem 0;
  }
  html body main .author .container div h1 {
    margin-bottom: 1rem;
  }
  html body main .author .container div .subtext {
    color: #9fa1aa;
  }
  html body main .author .container div p {
    margin-top: 3rem;
  }
  html body .intro .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  html body .intro .container picture {
    width: 100%;
  }
  html body .intro .container picture img {
    width: 100%;
  }
  html body .intro .container div {
    text-align: center;
  }
  html body .intro .container div ul {
    text-align: center;
  }
  html body .recipeItself {
    background-color: #fff8f2;
  }
  html body .recipeItself .container {
    padding: 7.6rem 0;
    font-weight: 600;
    color: #595c69;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
  html body .recipeItself .container picture {
    width: 100%;
  }
  html body .recipeItself .container picture img {
    width: 100%;
  }
  html body footer .container {
    flex-direction: column;
    align-items: center;
  }
  html body footer .container .socials {
    margin-top: 1rem;
    width: max-content;
  }
  html body footer .container .socials a {
    font-size: 1.2rem;
  }
  html body footer .container .socials span {
    margin: 0 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
