$fontMontserrat: 'Montserrat', sans-serif;; 
$fontDelafield:'Mrs Saint Delafield', cursive;

$bgcolor1: white;
$bgcolor2:#FFF8F2;
$bgcolor3:#EAEAEA;
$ButtonAccent: #FFBF9D;
$buttonPrimary:#595C69;
$subText:#9FA1AA;
$textColor:#303036;
$boxShadow:#0003;

$fw1:300;
$fw2:400;
$fw3:500;
$fw4:600;

$fsText:1.5rem;
$fsH1:2.6rem;
$fsH2:1.8rem;
$fsSubText:1.2rem;
$fsSmall:1.4rem;
$fsnormal:1.8rem;
$fsBig:3.2rem;

$maxWidth:144rem;

//Simple Reset
*,*::after,*::before { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



//Main styling 
html { 
    font-size: 10px;
    font-weight: $fw3;
    font-family: $fontMontserrat;
    //? usning html selectors to get a lot done with as little css as possible
    a { 
        text-decoration: none;
        color: $subText;
        font-size: $fsText;
    }

    p { 
        font-size: $fsText;
    }
    h1 {  
        font-size: $fsH1;
      } 

    h2,figcaption { 
        font-size: $fsH2;
    }
    .subtext { 
        font-size: $fsSubText;
        font-weight: $fw4;
    }

    li { 
        display: inline-block;
        list-style-type: none;
    }
    div  { 
        display: inline-block;
        width: 100%;
    }
    .buttonPrimary { 
        display: block;
        font-family: $fontMontserrat;
        width: 100%;
        max-width: 22rem;
        text-align: center;
        padding:2rem 0 ;
        font-size: $fsText;
        border: none;
        border-radius: 0.5rem;
        background-color:$buttonPrimary;
        color: $bgcolor1;
       
        &:hover { 
            background-color: $ButtonAccent;
            color: $textColor;
            transition: background-color 0.2s ease-in-out,
                        color 0.2s ease-in-out;
        }
    }

    section { 
        width: 100%;
        margin: 12rem auto;

        .container { 
            display: block;
            width: clamp(16rem, 90%, 144rem);  
            margin: 0 auto;
        }
    }

    body { 
        header { 
            margin-top: 1rem;
            box-shadow: $boxShadow 0px 0.8rem 2.4rem;
            width: 100%;


            .headerElementsContainer { 
                display: flex;
                max-width: $maxWidth;
                min-height: 8rem ;
                align-items: center;
                justify-content: space-between;
                width: clamp(16rem, 90%, 144rem);
                margin: 0 auto;

                .hamburgerMenu { 
                    display: none;
                }

                h1 { 
                    font-family: $fontDelafield;
                    font-weight: $fw2;
                    font-size: $fsBig;
                    padding-top: 1rem;
                }
                nav { 

                    ul { 
                        
                        li { 
                            margin: 0 1.4rem;
                            font-weight: $fw4;
                            
                            a { 
                                &:hover{ 
                                    color: $textColor;
                                }
                            }
                        }
                    }
                }

            }
        }

        main { 
            .welcomeSection { 
               
                .container { 
                    div { 

                        max-width: 56rem;
                        
                        h1 { 
                            margin-bottom: 3.1rem;
                        }
                        
                        p { 
                            line-height: 3rem;
                            font-weight: bold;
                        }
                        
                        .buttonPrimary { 
                            margin-top: 4rem;
                        }
                    }
                }
            }

            .recipesContainer  {
                background-color: $bgcolor2;
                margin-top: 21rem;

                .container { 
                    width: auto;
                    margin-left: clamp(5%, calc((100vw - 144rem)/2) , 23.15rem);
                    position: relative;
                    top: -6rem;
                    div { 
                        ul {
                           
                          li { 
                              position: relative;
                              max-width: 35rem;
                              background-color: transparent;
                              margin-right: 3.4rem;
                              
                              &:hover { 
                                   opacity: 0.8;
                                }

                              a { 
                                color: $textColor;
                                font-weight: $fw4;
                               
                                  figure { 


                                      img { 
                                          width: 100% ;
                                      }


                                      span { 
                                          color: $subText;
                                          display: block;
                                          margin: 3.2rem 0 1.2rem ;
                                      }

                                     
                                  }
                                  p { 
                                  margin-top: 1.6rem;
                                  line-height: 2.4rem;
                                }
                              }
                            }
                      }
                    }

                    .buttonContainer { 
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        .gliderPrev,.gliderNext { 
                            display: inline-block;
                            margin: 2rem;
                            width: 3rem;
                            height: 3rem;
                            border: none;
                            background-color: transparent;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            opacity: 0.5;
                            cursor: pointer;
                            &:hover {
                                opacity: 1;
                            }
                        }
    
                        .gliderPrev { 
                            background-image: url(/images/arrow.png);
                            transform: rotate(180deg);
                            
                        }
    
                        .gliderNext { 
                            background-image: url(/images//arrow.png);
                        }
                    }
                }

            }
            
        }
    }
}


@media screen and(max-width:700px) {
    html { 
        body { 
            header { 
                .headerElementsContainer { 
                    position: relative;
                    .hamburgerMenu { 
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 3.2rem;
                        height: 2.5rem;
                    
                        span { 
                            position: absolute;
                            width: 3.2rem;
                            height: 0.5rem;
                            background-color: $textColor;
                            border-radius: 0.5rem;
                            transition:  background-color 0.1s ease-in-out, transform 0.2s ease-in-out;
                        
                            &::after, &::before { 
                            content: '';
                            position: absolute;
                            width: 3.2rem;
                            height: 0.5rem;
                            background-color: $textColor;
                            border-radius: 0.5rem;
                            transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
                        }

                        &::before { 
                            transform: translateY(-0.9rem);
                        }

                        &::after { 
                            transform: translateY(0.9rem);
                        }

                        
                        }
                      
                        input {  
                            z-index: 1;
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            cursor: pointer;
                        
                            &:checked ~ span{ 
                                    background-color:transparent;
                            }

                            &:checked ~ span::before { 
                                transform: rotate(45deg);
                            }
                            &:checked ~ span::after { 
                                transform: rotate(-45deg);
                            }
                        }
                   
                       
                    }

                    
                    nav { 
                        display: none;
                        position: absolute;    
                        width: 100%;
                        margin-top: 30rem;
                        background-color: $bgcolor1;
                        border-radius: 1rem;
                        box-shadow: $boxShadow 0px 0.8rem 2.4rem;

                        ul { 
                            padding: 1rem;
                            position: relative;
                            text-align: center;
                            li { 
                                display: block;
                                a { 
                                    display: block;
                                    padding: 1rem 0;
                                    color: $buttonPrimary;
                                    font-size: $fsnormal;
                                }
                            }
                        }
                    }
                    .isOpen{ 
                        display: block;
                    }
                    
                }
            }
            main { 
                .welcomeSection { 
                    text-align: center;
                    p { 
                        padding: 0 1rem;
                    }
                    a { 
                        margin: 0 auto;
                    }
                }

                .recipesContainer { 
                    padding-left: 2rem;
                    .container  { 
                        margin: 0 auto;
                        div { 
                            ul { 
                                li { 
                                    margin-right: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}