<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Food </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Mrs+Saint+Delafield&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../scripts.js/script.js"  defer></script>
</head>

<body>
    <header>

        <div class="headerElementsContainer">
            <h1><a href="./index.html">Simple Food</a></h1>
            <div class="hamburgerMenu">
                <input type="checkbox" id="menuButton">
                <span></span>
            </div>
            <nav class="navBar" id="navBar">
                <ul>
                    <li><a href="./index.html" >Main page</a></li>
                    <li><a href="./tips.html" >Tips</a></li>
                    <li><a href="./lifeStyle.html" >LifeStyle</a></li>
                    <li><a href="./recipes.html" >Recipes</a></li>
                    <li><a href="./about.html" class="isActive">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
       
     
      
       

    <footer>
        <div class="container">
            <span>Copyright @ Simple Food 2020</span>
            <div class="socials">
                <a href="#0">Instagram</a> <span>/</span>
                <a href="#0">Facebook</a> <span>/</span>
                <a href="#0">Pinterest</a>
            </div>
        </div>
            
    </footer>
</body>

</html>