<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Food </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Mrs+Saint+Delafield&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/glider.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../scripts.js/script.js"  defer></script>
    <script src="../scripts.js/glider.js"></script>
    <script src="../scripts.js/gliderScript.js"></script>
</head>

<body>
    <header>

        <div class="headerElementsContainer">
            <h1><a href="./index.html">Simple Food</a></h1>
            <div class="hamburgerMenu">
                <input type="checkbox" id="menuButton">
                <span></span>
            </div>
            <nav class="navBar" id="navBar">
                <ul>
                    <li><a href="./index.html" >Main page</a></li>
                    <li><a href="./tips.html">Tips</a></li>
                    <li><a href="./lifeStyle.html">LifeStyle</a></li>
                    <li><a href="./recipes.html" >Recipes</a></li>
                    <li><a href="./about.html">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="intro">
            <div class="container">
                <picture>
                    <source srcset="../images/desktop/forDesktop1.png" media="(min-width: 800px)">
                    <img src="../images/forMobile.png" alt="" > 
                </picture>
                <div>
                    <h1>Butternut Squash Soup</h1>
                   <span class="icons portion">6 - 8 portions</span>
                   <span class="icons preparation">15 min preparation</span>
                   <span class="icons cooking">30 min cooking</span>
                    
                    <span class="infoAboutMeal">Soup   —   Healthy   —   Vegetarian   —   Gluten free</span>
                </div>
            </div>
        </section>

        <section class="recipeItself">
            <div class="container">
                <picture>
                    <source srcset="../images/desktop/forDesktop1.png" media="(min-width: 800px)">
                    <img src="../images/forMobile.png" alt="" > 
                </picture>
                <div>
                    <div>
                        <h2>Soup</h2>
                        <ul>
                            <li>1 medium butternut squash, peeled and cut into 1-inch cubes</li>
                            <li>1 onion, diced</li>
                            <li>1 tablespoon olive oil</li>
                            <li>3 garlic cloves, minced</li>
                            <li>3/4 teaspoon salt</li>
                            <li>1/2 teaspoon fresh thyme leaves, finely chopped</li>
                            <li>4 cups vegetable stock</li>
                        </ul>
                    </div>
                    
                    <div>
                        <h2>Garnish</h2>
                        <ul>
                            <li>1/4 cup pumpkin seeds</li>
                            <li>1/2 cup feta cheese</li>
                            <li>2 tablespoon chili powder</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="prepareFood" >
            <div class="container">
                <div class="instructions" >
                    <h2>Preparation</h2>
                    <ol>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem, excepturi debitis cumque nisi esse suscipit ab inventore aliquam odit numquam, delectus nihil assumenda vitae quos, rerum reprehenderit natus unde!</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem, excepturi debitis cumque nisi esse suscipit ab inventore aliquam odit numquam, delectus nihil assumenda vitae quos, rerum reprehenderit natus unde!</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem, excepturi debitis cumque nisi esse suscipit ab inventore aliquam odit numquam, delectus nihil assumenda vitae quos, rerum reprehenderit natus unde!</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem, excepturi debitis cumque nisi esse suscipit ab inventore aliquam odit numquam, delectus nihil assumenda vitae quos, rerum reprehenderit natus unde!</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem, excepturi debitis cumque nisi esse suscipit ab inventore aliquam odit numquam, delectus nihil assumenda vitae quos, rerum reprehenderit natus unde!</p>
                        </li>
                    </ol>
                    
                </div>
            </div>
        </section>

        <section class=" suggestions">
            <div class="container ">
                <h1>You may also like...</h1>
                <div class="glider-contain">
                    <ul class="glider">
                        <li>
                            <a href="./recipe.html">
                                <figure>
                                    <picture>
                                        <source media="(min-width: 700px)" srcset="../images/desktop/forDesktop.png">
                                        <img src="../images/forMobile.png" alt="">
                                    </picture>
                                    <span id="category" class="subtext">Tips</span>
                                    <figcaption>Lorem ipsum</figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore</p>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <figure>
                                    <picture>
                                        <source media="(min-width: 700px)" srcset="../images/desktop/forDesktop.png">
                                        <img src="../images/forMobile.png" alt="">
                                    </picture>
                                    <span id="category" class="subtext">Tips</span>
                                    <figcaption>Lorem ipsum</figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore</p>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <figure>
                                    <picture>
                                        <source media="(min-width: 700px)" srcset="../images/desktop/forDesktop.png">
                                        <img src="../images/forMobile.png" alt="">
                                    </picture>
                                    <span id="category" class="subtext">Tips</span>
                                    <figcaption>Lorem ipsum</figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore</p>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <figure>
                                    <picture>
                                        <source media="(min-width: 700px)" srcset="../images/desktop/forDesktop.png">
                                        <img src="../images/forMobile.png" alt="">
                                    </picture>
                                    <span id="category" class="subtext">Tips</span>
                                    <figcaption>Lorem ipsum</figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore</p>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <figure>
                                    <picture>
                                        <source media="(min-width: 700px)" srcset="../images/desktop/forDesktop.png">
                                        <img src="../images/forMobile.png" alt="">
                                    </picture>
                                    <span id="category" class="subtext">Tips</span>
                                    <figcaption>Lorem ipsum</figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore</p>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <figure>
                                    <picture>
                                        <source media="(min-width: 700px)" srcset="../images/desktop/forDesktop.png">
                                        <img src="../images/forMobile.png" alt="">
                                    </picture>
                                    <span id="category" class="subtext">Tips</span>
                                    <figcaption>Lorem ipsum</figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore</p>
                            </a>
                        </li>
                    </ul>
                    <div class="buttonContainer">
                        <button aria-label="Previous" class="gliderPrev"></button>
                        <button aria-label="Next" class="gliderNext"></button>
                    </div>
                </div>

        </section>

       


    </main>

    <footer>
        <div class="container">
            <span>Copyright @ Simple Food 2020</span>
            <div class="socials">
                <a href="#0">Instagram</a> <span>/</span>
                <a href="#0">Facebook</a> <span>/</span>
                <a href="#0">Pinterest</a>
            </div>
        </div>
            
    </footer>
</body>

</html>